// Place all the styles related to the Wells controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.stage_box{
  display:inline-block;
  border: 1px solid #aaa;
  padding: 10px;
}
.stage_box:hover{
  opacity: 0.3;
}
.stage_box_info{
  background-color: lightgrey;
}
.well_info_box{
  margin-top:10px;
  overflow: auto;
  white-space:nowrap;
  border: 1px solid #aaa;
  padding: 10px;
}