// Place all the styles related to the Wells controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#canvas_container{
  width: 95%;
  height: 300px;
  border: 1px solid #aaa;
  overflow:scroll;
  position: relative;
}
.stage_box{
  position: absolute;
  height: 100px;
  border: 1px solid #aaa;
  padding: 10px;
}
.stage_box:hover{
  opacity: 0.3;
}
.stage_box_info{
  background-color: lightgrey;
}